# dependencies
node_modules/

# production
/dist/

# Storybook build output
/storybook-static/

# Vite
.vite/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env
.env.*

# OS
.DS_Store

# editor
.vscode/

# misc
coverage/

# local docs
DEPLOYMENT_PLAN.md

*storybook.log
