# dependencies
node_modules/

# production
/dist/

# Storybook build output
/storybook-static/

# Vite
.vite/

# Firebase CLI local state
.firebase/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
firestore-debug.log

# local env files
.env
.env.*
!.env.example

# OS
.DS_Store

# editor
.vscode/
!.vscode/
!.vscode/settings.json

# misc
coverage/

*storybook.log
